/*!
Theme Name: Fitness Park
Theme URI: http://sparklewpthemes.com/wordpress-themes/fitnesspark/
Author:Sparkle Themes
Author URI: https://sparklewpthemes.com/
Description: Fitness Park is a user-friendly and feature-rich, intuitive and creative, powerful and impressive engaging and dynamic, tech-savvy and good looking, rapidly responsive personal trainer free WordPress theme. Its a solid toolkit for the development of awesome and modern free WordPress themes for gym centers, fitness studios, yoga studios, and CrossFit. Fitness Park multipurpose theme can also be used for other related fitness center or needs of health clubs, gymnasiums, spas and wellness centers, indoor and outdoor exercises and any other sport and health-related website. Fitness Park is one of the most accessible free WordPress themes which can easily accommodate all type of users with no coding skills to advanced or normal web developers. Fitness Park includes excellent features for gymnasiums professionals and practices of all kinds, themes have included following features one-click demo data import, customizer based theme options, page builder-friendly design, individual page &  post layout options. This Free Fitness Park WordPress theme is fully responsive, cross-browser compatible, translation ready, SEO friendly themes. if you face any problem while using our theme, you can refer to our theme documentation or contact our friendly support team. Check demo at http://demo.sparklewpthemes.com/fitnesspark/ and Read theme details at https://sparklewpthemes.com/wordpress-themes/fitnesspark and get free support at https://sparklewpthemes.com/support/
Version: 1.0.6
Tested up to: 5.9
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fitness-park
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, sticky-post, translation-ready, featured-images, theme-options

License: GNU General Public License version 2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Fitness Park is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
     ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #404040;
    line-height: 1.5;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
     ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *      `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
     ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 60px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;

}

h3 {

}

p {
    font-size: 15px;
    color: #959595;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.8;

}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    border: none;
    background: #ff5900;
    color: #fff;
    padding: 35px 30px 35px 45px;
    position: relative;
}

blockquote::before, q::before {
    content: "“";
    top: 0px;
    left: 15px;
    font-size: 6rem;
    position: absolute;
}

blockquote p{
    color: #fff;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 0em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;

    /* Adhere to container width. */
}

figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

table > thead:first-child > tr:first-child > th {
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 16px 0px;
    text-align: center;
    border: none;
}

.table > tbody > tr > th {
    background-color: #ff7101;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 58px 0px;
    text-align: center;
    border: none;
}

.table > tbody > tr > td {
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
    text-transform: uppercase;
    padding: 16px 0px;
    text-align: center;
    border: none;
    background: #f1efef;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    color: #ff7101;
    background-color: transparent;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 30px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #fff;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #ff7101;
    background: #ff7101;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 1px solid #eaeaea;
    border-radius: 0px;
    width: 100%;
    color: #FFF;
    padding: 10px;
    font-weight: 400;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #FFF;
    border-color: #ff7101;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.navigation.post-navigation {
    width: 100%;
}

.nav-links {
    display: block;
    width: 100%;
    padding-top: 1px;
}

.nav-previous {
    text-align: left;
}

.nav-next {
    text-align: right
}

.nav-previous a, .nav-next a {
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #ff7101;
    color: #fff;
    font-size: 15px;
    background: #ff7101;
}

.nav-previous a:hover, .nav-next a:hover , .nav-next a:visited:hover ,.nav-previous a:visited:hover {
    border: 1px solid #ff7101;
    color: #ff7101;
    background: transparent;
}


/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

a.page-numbers {
    border: 1px solid #ff7101;
    padding: 8px 14px;
    color: #ff7101;
}

a.page-numbers:visited {
    border: 1px solid #ff7101;
    padding: 8px 14px;
    color: #ff7101;
}

span.page-numbers.current {
    border: 1px solid #ff7101;
    padding: 8px 14px;
    color: #000
}

span.page-numbers.current:hover {
    border: 1px solid #ff7101;
    color: #ff7101;
}

a.prev.page-numbers, a.next.page-numbers {
    background: #ff7101;
    border: 1px solid #ff7101;
    color: #FFF;
    text-decoration: none;
}

a.prev.page-numbers:hover, a.next.page-numbers:hover {
    background: transparent;
    border: 1px solid #ff7101;
    color: #ff7101;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a:visited {
    color: #FFF;
}

a:hover, a:focus, a:active {
    color: #ff7101;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## men menu
--------------------------------------------------------------*/
.navigation {

    padding-top: 0px;
    padding-bottom: 0px;
}

.navigation-bordeTop {
    border-top: 2px solid #ff7101;
}

.navigation-bordeTop .main-navigation > ul {
    padding: 0px;
}

.navigation-bordeTop .main-navigation > ul > li > a {
    padding: 12px 17px 12px 17px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    vertical-align: middle;
    margin-top: 17px;

}

.center-header .logo a {
    padding: 0;
}

.navigation-bordeTop .main-navigation > ul > li:hover > a {
    color: #ff7101;
    padding: 12px 17px 12px 17px;
    border: none;
}

.nav-border-side {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.main-navigation {
    display: block;
    font-weight: 300;
}

.main-navigation > ul {
    padding: 15px 0px 1px 0px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    position: relative;
}

.main-navigation ul ul {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    left: -999em;
    z-index: 99999;
    background-color: #fff;
    width: 210px;
    text-align: left;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
    bottom: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 208px;
    font-size: 13px;
    line-height: 45px;
    letter-spacing: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
    display: block;
    padding: 0px 15px;
    margin: 0;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}


.main-navigation ul ul li.menu-item-has-children > a:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f105";
    float: right;
    font-weight: 700;
}

.main-navigation li {
    position: relative;
    display: inline-block;
    list-style: none;
}

.main-navigation ul a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    position: relative;
    padding: 19px 17px 35px 17px;
    margin-left: 5px;
    color: #403d3d;
    text-transform: uppercase;
    font-weight: 500;
}

.main-navigation.center-header > .navigation > ul > li > a {
    padding: 28px 17px 11px 17px;
}

.main-navigation .current-menu-item a {
    color: #ff7101;
}

.main-navigation > ul > li:hover > a {
    color: #ff7101;
    padding: 19px 17px 30px 17px;
}

.main-navigation ul.sub-menu li a {
    color: #000;
}

.main-navigation ul.sub-menu li.focus a,
.main-navigation ul.sub-menu li a:hover {
    color: #ff7101;
}

.main-navigation > ul > li > a:focus {
    color: #ff7101;
}

.nav-menu > li.current-menu-item:after {
    background: #ff7101;
}

.current-menu-item a {
    color: #ff7101;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget-area ul {
    margin: 0;
}

.widget-area a {
    color: #948e8e;
}

.widget-area ul li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}

.widget-area .widget .widget-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    border-left: 4px solid #ff7101;
    margin: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    color: #ff7101;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #ff7101;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f187";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 700;
    left: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
    top: 0;
}

.widget_archive a::before {
    top: 0;
}

.widget_recent_entries a::before {
    content: "\f101";
    top: -5px;
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
    top: -5px;
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

/*--------------------------------------------------------------
# Sidebar Select
--------------------------------------------------------------*/

.widget select {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.widget_archive ul li,
.widget_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.widget_archive ul li a,
.widget_categories ul li a {
    float: left;
}

.widget_categories ul li:last-of-type,
.widget_recent_comments ul li:last-of-type,
.widget_rss ul li:last-of-type,
.widget_recent_entries ul li:last-of-type,
.widget_pages ul li:last-of-type,
.widget_meta ul li:last-of-type,
.widget_nav_menu ul li:last-of-type,
.widget_archive ul li:last-of-type {
    border-bottom-width: 0;
}

.widget_tag_cloud .tagcloud {
    padding: 0 20px 20px;
}

/*--------------------------------------------------------------
# Sidebar Sub Menu
--------------------------------------------------------------*/

.widget_pages ul li .children li:last-child,
.widget_nav_menu ul li .sub-menu li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sidebar Search
--------------------------------------------------------------*/
.widget_search .search-form {
    position: relative;

}

.widget_search .search-field::-webkit-input-placeholder,
.widget_search .search-form:-moz-placeholder,
.widget_search .search-form:-ms-input-placeholder {
    color: #868686;
}

.widget_search .search-form > label {
    margin: 0;
    width: 100%;
}

.widget_search .screen-reader-text {
    display: none;
}

.widget_search .search-field {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #333;
    display: inline-block;
    height: 47px;
    vertical-align: middle;
    width: 100%;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.widget_search [type="search"].search-field::placeholder {
    color: #000;
}

.widget_search [type="search"].search-field:focus {
    color: #000;
}

.widget_search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    margin-left: 0;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all ease 0.5s;
    border: none;
    color: #fff;
    background: #ff7101;
    padding: 0 15px;
}

.widget_search .search-submit:hover {
    background: #000;
    color: #fff;
}

/*--------------------------------------------------------------
# Calender
--------------------------------------------------------------*/

.widget_calendar tbody td {
    text-align: center;
    color: #a8a7a7;
}

.widget_calendar caption {
    font-weight: 700;
}

.calendar_wrap caption {
    background: none repeat scroll 0 0 #ff6600;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.calendar_wrap table {
    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {
    border: 1px solid #ccc;
    padding: 8px 0px;
    color: #000;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td #prev,
.calendar_wrap table td#next {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td #next {
    text-align: right;
}

.custom-html-widget {
    margin: 0 20px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
#comments {
    margin-top: 30px;
    background: #FFF;
    float: left;
    width: 100%;
    display: block;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    background-color: #fafafa;
    margin: 5px 0;
    text-transform: uppercase;
    display: inline-block;
    color: #ff7101;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.comments-area article footer {
    background: #FFF;
    display: block;
    padding: 0;
}

.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#comments h3 {
    margin: 0 0 10px;
    color: #ff7101;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    display: inline-block;
    color: #ff7101;
}

textarea#comment {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    color: #615d5d;
    font-size: 15px;
    font-weight: 500;
}

.comment-form-cookies-consent label {
    margin-left: 14px;
}

#commentform input[type="submit"] {
    color: #ff7101;
    background-color: transparent;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
}

#commentform input[type="submit"]:hover {
    background-color: #ff7101;
    color: #FFF;
    border-color: #ff7101;
    outline: none;
}

/*--------------------------------------------------------------
Comment Lists
--------------------------------------------------------------*/
.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    padding: 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #e1e1e1;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    float: left;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    padding: 3px;
    float: left;
}

.comment-author {
    float: left;
    width: 100%;
}

.comment-metadata {
    font-size: 12px;
    margin-top: -12px;
    padding-left: 50px;
    text-align: left;
}

.comment-content {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22px;
    color: #3a3a3a;
}

.comment-content p {
    color: #777676;
}

.comment-list footer span {
    margin-bottom: 10px;
}

.comment-list footer span.edit-link a {
    font-size: 15px;
    color: #ff7101;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    float: left;
}

.comment-author .fn .url {
    color: #333;
    padding: 0;
    font-size: 16px;
}

.comment-author .fn .url:hover {
    color: #ff7101;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.comment-metadata a {
    color: #969696;
}

.commentmetadata .comment-edit-link {
    color: #ff7101;

}

.commentmetadata + .clear {
    margin-bottom: 20px;
}

#respond {
    padding: 20px;
    margin: 20px 0 0;
    color: #141414;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    float: left;
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #ff7101;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #ff7101;
}

.logged-in-as a {
    color: #000;

}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}
.gallery figure {
    margin:0px;
    padding: 3px;
}

section, footer {
    padding: 50px 0
}

.block {
    width: 100%;
    display: block;
    float: left;
}

/**
 * Header Section
*/
.header-logo.site-branding {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    padding-top: 8px
}

.site-branding h1 {
    margin: 0;
}

.site-branding h1 a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.site-branding p {
    margin: 0;
    text-align: center;
}

.site-branding p {
    margin-top: -3px;
    font-size: 14px;

}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
    background: #FFF;
    z-index: 3;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e4e4;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

.float-navbar {
    float: right
}

.navbar-collapse.in {
    overflow-y: inherit;
}

button.menu-nav-toggle {
    border: 1px solid #b5b1b1;
    border-radius: 5px;
    float: right;
    padding: 10px;
    margin: 23px 0px 0 0;
    display: none;
}

button.menu-nav-toggle span.icon-bar {
    width: 22px;
    height: 2px;
    background: #888;
    display: block;
    margin-top: 2px;
    border-radius: 1px;
}

span.sub-toggle,
.sub-toggle-children{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 15px 40px 15px;
}

.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ff7101;
    background-color: transparent;
}

.main-navigation .current-menu-item  a,.current_page_item a , .current-menu-parent > a{
    color: #ff7101 !important;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}


/**
 * Main Slider
*/
.slider {
    padding: 0
}

.owl-nav {
    position: absolute;
    top: 41%;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-nav button.owl-prev {
    color: #000;
    float: left;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 0;
}

.owl-carousel .owl-nav button.owl-next {
    color: #000;
    float: right;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #FFF;
    opacity: 0.5;
    border-radius: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    color: #000;
    font-size: 34px;
    outline: none;
    background: #FFF;
    opacity: 1;
}

.owl-dots {
    position: absolute;
    bottom: 2%;
    left: 0px;
    right: 0px;
}

.item {
    position: relative;
}

.slider-caption {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
}

#main-slider .item h2 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 800;
    line-height: 110%;
    text-align: left;
}

#main-slider .item span {
    font-size: 40px;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

#main-slider .item p {
    max-width: 700px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 30px;
}

#main-slider .item a {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #FFF;
}

#main-slider .item a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;

}

/**
 * About Us
*/
.introduction {
    background: #FFF;
}

.introduction .box {
    padding: 0px 15px;
    float: left;
    width: 100%;
    display: block;
}

.introduction .box .description {
    float: left;
    width: 50%;
}

.introduction .box figure {
    float: right;
    width: 50%;
}

.introduction .box .description h2 {
    display: unset;
}

.introduction .box .description span {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.introduction .box .description p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    max-width: 500px;
    letter-spacing: 0.1px;
    line-height: 1.8;
    margin: 40px 0px;

}

.introduction .box .description a {
    color: #ff7101;
}

.introduction .box .description a.link {
    color: #ff7101;
    background-color: transparent;
    border-color: #ff7101;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #ff7101;
}

.introduction .box .description a.link:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}

/**
 * Our Course Services Area
*/
.courses {
    text-align: center;
}

.fp-block-wrapper::after {
    display: table;
    content: "";
    clear: both
}

.fp-block-wrapper::before {
    display: table;
    content: ""
}

.courses span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.courseList {
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 0;
    transition: all 0.4s ease;
}

.courseList .box {
    z-index: 0;
    padding: 20% 30px 30px 30px;
}

.courseList:hover {
    -webkit-box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
}

.courseList:hover figure img {
    transform: translateY(-10px);
}

.courseList figure img {
    transition: all 0.4s ease;
    padding-top: 15px;
}

.courseList h3 {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    margin: 30px 0px;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.courseList p {
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.8;
    margin: 15px auto 0 auto;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    max-width: 450px;
}

.courseList figure {
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #000;
}

/**
 * Call To Action
*/
.offer {
    text-align: center;
    vertical-align: middle;
}

.offer img {
    transition: none
}

.offer h2 {
    color: #FFF;
    margin-bottom: 0;
    text-transform: capitalize;
    padding: 90px 0 0 0;
}

.offer span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 45px;
    display: block;
    color: #ff7101;
}

.offer-parallax-window {
    height: 450px;
    background: transparent;
}

.offer-parallax-window-1 {
    height: 450px;
    background: transparent;
}

.offer a {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid #FFF;
}

.offer a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}



/**
 * Video Section With Contact Us form
*/
.video {
    display: block;
    text-align: center;
    background-position: center;
    background: #000;
    padding: 30px 0;
    background-size: cover;
}

.video h2 {
    color: #FFF;
    margin-top: 70px;
}

.video .sectiontitle span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
}

.video .registration-form .wpcf7 label {
    text-align: left;
    width: 50%;
    float: left;
    padding: 0 10px;
    color: #fff;
}
.video .registration-form .wpcf7 label.full {
    width: 100% !important;
}
.video .registration-form .wpcf7 input[type="submit"], 
.video .registration-form .wpcf7 input[type="button"]{
    float: none;
}

.video .registration-form .wpcf7 input[type="text"], 
.video .registration-form .wpcf7 input[type="tel"], 
.video .registration-form .wpcf7 input[type="email"], 
.video .registration-form .wpcf7 input[type="url"], 
.video .registration-form .wpcf7 textarea, .wpcf7 select {
    background: transparent;
}


/**
 * Gallery Images
*/
.front-gallery {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}

.front-gallery .gallery-title {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
    z-index: 3;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

.front-gallery:hover .gallery-title {
    opacity: 0;
    z-index: 0;
}

.gallery-text-wrapper {
    vertical-align: middle;
    display: table;
    width: 100%;
    height: 100%;
}

.front-gallery .gallery-title h2 {
    color: #FFF;
    margin-bottom: 20px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.front-gallery .gallery-title h2 span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
    font-weight: 400;
}

.front-gallery .box {
    float: left;
    overflow: hidden;
    width: 20%;
    position: relative;
}

.front-gallery .box img {
    width: 100%;
}

.front-gallery .overlay-gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 113, 1, 0.5);
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 6;
}

.front-gallery a:hover .overlay-gallery {
    opacity: 1;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button {
    background: transparent;
    color: #FFF;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button:hover,
.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button:focus {
    background: transparent;

}

.sl-overlay {
    background: #000;
}

/**
 * Our Blog
*/
.fitness-park-blog-post-front {
    background: #ececec;
}

.fitness-park-blog-post-front .fp-blog-list {
    margin-bottom: 30px;
}

.fitness-park-blog-post-front .sectiontitle span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    color: #ff7101;
    text-align: center;
}

.fitness-park-blog-post-front figure {
    position: relative;
}

.fitness-park-blog-post-front .cat-links {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #ff7101;
    color: #fff;
    text-transform: capitalize;
}

.fitness-park-blog-post-front .cat-links a:hover {
    color: #FFF;
}

.fitness-park-blog-post-front h3 {
    margin:0;
    line-height: 1.2;
    margin-bottom: 10px;
}

.fitness-park-blog-post-front h3 a {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.fitness-park-blog-post-front h3 a:hover{
    color: #f60;
}

.fitness-park-blog-post-front .post-content p {
    font-size: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    font-weight: 500;
    color: #667;
}

.fitness-park-blog-post-front .fp-blog-description {
    padding: 10px;
    background: #FFF;
    text-align: center;
    margin-bottom: 15px;
}

.fitness-park-blog-post-front .postmeta,
.fitness-park-blog-post-front .postmeta ul{
    margin: 0;
    padding: 0;
}
.fitness-park-blog-post-front .postmeta ul li {
    display: inline-block;
    padding-right: 10px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
}
.fitness-park-blog-post-front .postmeta ul li:after{
    content: '';
}

.fitness-park-blog-post-front .postmeta ul li:first-child a:after{
   content: "-";
    font-size: 25px;
    padding-left: 4px;
    color: #ff7101;
    position: absolute;
    top: -10px;
} 

/**
 * Our Team Member Trainer
*/
.trainers span {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    color: #ff7101;
}

.trainers .box figure {
    width: 60%;
    position: relative;
    overflow: hidden;
    float: left;
}

.trainers .box .description {
    width: 40%;
    float: left;
    padding: 0 30px;
    margin-top: 150px;
}

.trainers .box .description p {
    margin: 0px 0px 15px 0px;
}

.trainers .box h3 {
    margin-bottom: 0
}

.trainers .box h3 a {
    text-transform: uppercase;
    display: block;
    color: #000;
    font-weight: 400;
}

.trainers span.designation {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: -webkit-box;
    text-align: center;
    color: #ff7101;
}

.trainers .owl-carousel .owl-nav button.owl-prev {
    color: #FFF;
    float: left;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #000;
    opacity: 0.5;
    border-radius: 0;
}

.trainers .owl-carousel .owl-nav button.owl-next {
    color: #FFF;
    float: right;
    font-size: 34px;
    outline: none;
    width: 60px;
    height: 60px;
    background: #000;
    opacity: 0.5;
    border-radius: 0;
}

.trainers .owl-carousel .owl-nav button span {
    color: #FFF;
    margin-bottom: 0;
}

.trainers .owl-theme .owl-nav [class*=owl-]:hover {
    color: #FFF;
    font-size: 34px;
    outline: none;
    background: #000;
    opacity: 1;
}

/**
 * Fooer Social Icons
*/
.social-icon li, .social-icon-plain li {
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px 20px 0px;
    display: inline;
}

.social-icon li a i, .social-icon-plain li {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.social-icon li a:hover i, .social-icon-plain li a:hover i {
    transform: scale(1.2);
}

.social-icon li.social-dribbble a {
    color: #ea4c89;
}

.social-icon li.social-email a {
    color: #049fb3;
}

.social-icon li.social-facebook a {
    color: #3b5998;
}

.social-icon li.social-flickr a {
    color: #ff0084;
}

.social-icon li.social-github a {
    color: #000;
}

.social-icon li.social-gplus a {
    color: #dd4b39;
}

.social-icon li.social-instagram a {
    color: #517fa4;
}

.social-icon li.social-linkedin a {
    color: #007bb6;
}

.social-icon li.social-pinterest a {
    color: #cb2027;
}

.social-icon li.social-rss a {
    color: #ff6600;
}

.social-icon li.social-stumbleupon a {
    color: #eb4823;
}

.social-icon li.social-tumblr a {
    color: #32506d;
}

.social-icon li.social-twitter a {
    color: #00aced;
}

.social-icon li.social-vimeo a {
    color: #aad450;
}

.social-icon li.social-youtube a {
    color: #bb0000;
}

/**
 * Our Main Footer
*/
footer {
    background: #212121;
    padding: 60px 0 0 0;
    text-align: center;
}

footer h2 {
    color: #FFF;
    font-size: 70px;
}

footer h3 {
    color: #FFF;
}

footer h2 a:hover {
    color: #FFF;
}

footer span {
    color: #ff7101;
    font-size: 25px;
    display: block;
    margin-bottom: 50px;
}

footer .footer-menu ul li {
    display: inline;
    padding: 0px 15px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2.5;
}

footer ul.footer-menu {
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
}

.footer_logo {
    margin-bottom: 50px;
}

.bottom_footer {
    margin: 50px 0 30px 0;
}

.footer-bottom-pro {
    background: #161616;

}

.copyright {
    padding: 5px 0;
}

.copyright p {
    color: #FFF;
    font-size: 14px;
}

.copyright p a {
    color: #FFF;
    font-size: 14px;
}

.copyright p a:hover {
    color: #ff7101;
}

.bottom_footer ul.footer-menu li a {
    color: #FFF;
}

.bottom_footer ul.social-icon {
    text-align: left;
    margin-bottom: 0;
}

.bottom_footer .join_now a{
    border: 1px solid #ffffff;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: none;
    margin: 0;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 25px;
}

.bottom_footer .join_now a:hover {
    color: #ffffff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}

.bottom_footer .join_now {
    text-align: right;
    padding-top: 8px;
}

/*--------------------------------------------------------------
## breadcrums
--------------------------------------------------------------*/
.breadcrumb {
    padding: 30px 0px;
    background: #3c3b3b;
    border-radius: 0;
    margin: 0;
}

.breadcrumb h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0 20px 0;
    font-size: 35px;
}

.breadcrumb ul {
    text-align: center;
    color: #FFF;
}

.breadcrumb ul li {
    display: inline;
    font-size: 20px;
    color: #ff7101;
    font-weight: 500;
}

.breadcrumb ul li a {
    color: #ff7101;
    transition: 0.8s ease;
}

.breadcrumb ul li a:hover {
    color: #ff7101;
}

.breadcrumb ul li a:after {
    content: "/";
    color: #ff7101;
    padding: 0 8px;
}

.breadcrumb ul li:last-child a:after {
    content: "";

}

/*--------------------------------------------------------------
## blog
--------------------------------------------------------------*/
.blog-post {
    padding: 30px 0px;
    background: #FFF;
}

.blog-post h2 {
    font-family: 'PT Serif', serif;
    color: #ff7101;
    font-weight: 700;
    position: relative;
}

.blog-post h2 a {
    color: #000;
    font-weight: 700;
}

.blog-post .post-title {
    font-weight: 700;
}

.blog-post .post-title h3 {
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 0;
    color: #000;;
}

.blog-post .post-title h3 a {
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.blog-post .post-title h3 a:hover {
    color: #ff7101;
}

.blog-post article {
    margin-bottom: 30px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.blog-post .post-image {
    position: relative;
}

.blog-post .box {
    padding: 20px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    float: left;
    display: block;
}

.blog-post .post-thumbnail img {
    width: 100%
}

.postmeta {
    margin-top: 8px;
    padding-top: 15px;
}

.postmeta ul {
    padding-left: 0px;
}

.postmeta ul li {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #959595;
    padding-right: 35px;
}

.postmeta ul li a:hover {
    color: #ff7101;
}

.postmeta ul li:after {
    content: "-";
    font-size: 25px;
    padding-left: 5px;
    color: #ff7101;
    position: absolute;
    top: -12px;
}

.postmeta ul li:last-child:after {
    content: "";
}

.postmeta ul li a {
    color: #959595;
    letter-spacing:1px;
}

.postmeta-categoty a {
    color: #ff7101;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.postmeta-auther {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    display: block;
    overflow: hidden;
    float: left;
    top: -13px;
    left: -44px;
}

.post-the-content {
    margin-top: 10px;
}

.post-the-content p {
    margin-bottom: 0px
}

.post-the-content a {
    color: #ff7101;
}
.post-the-content.archive a {
    border: 1px solid #ff7101;
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 28px;
    color: #ff7101;
    float: left;
    margin-top: 11px;
}

.post-the-content.archive a:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #FFF;
}


.post-permalink ul.social-link {
    float: left;
}

.post-permalink {
    display: block
}

.post-permalink ul.social-link li {
    display: inline;
    border: none;
    text-align: center;
    padding: 11px 12px 11px 0px;
    font-size: 13px;
    margin-right: -4px;
    font-size: 16px;
}

.post-permalink ul.social-link li a:hover {
    color: #3986bb;
}

/*--------------------------------------------------------------
##  sidebar pro
--------------------------------------------------------------*/

.widget-area .widget {
    padding: 0px 0px 10px 0px;
    float: left;
    width: 100%;
    color: #000;
    background: #FFF;
}

.site-content .widget h3 {
    margin: 0px;
    font-weight: 700;
}

.widget-area h3 {
    margin: 0px;
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.popular-post {
    margin: 0px;
    padding: 0px;
}

.popular-post ul li {
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaeb;
    padding: 0px 0px 30px 0px;
}

.popular-post ul li:first-child {
    margin-top: 20px;
}

.popular-post ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.popular-post ul li a figure {
    float: left;
    width: 70px;
    margin-right: 20px;
    overflow: hidden;
}

.popular-post ul li a h4 {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    transition: 0.5s ease;
    display: unset;
}

.popular-post ul li a span {
    color: #ff7101;
    display: -webkit-box;
}

.popular-post ul li a {
    color: #424242;
    font-size: 13px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.popular-post ul li a:hover {
    color: #3986bb;
    text-decoration: none;
}

.popular-post ul li a:hover h4 {
    color: #3986bb;
    text-decoration: none;
}

.category-sidebar {
    margin: 0px;
    padding: 0px;
}

.category-sidebar ul li {
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaeb;
    padding: 0px 0px 5px 0px;
}

.category-sidebar ul li:first-child {
    margin-top: 20px;
}

.category-sidebar ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.category-sidebar ul li a figure {
    float: left;
    width: 70px;
    margin-right: 20px;
    overflow: hidden;
}

.category-sidebar ul li a h4 {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.category-sidebar ul li a {
    color: #424242;
    font-size: 13px;
    margin-bottom: 0px;
    transition: 0.5s ease;
}

.category-sidebar ul li a:hover {
    color: #3986bb;
    text-decoration: none;
}

.category-sidebar ul li a:hover h4 {
    color: #3986bb;
    text-decoration: none;
}

/*--------------------------------------------------------------
##  archive page Pro
--------------------------------------------------------------*/
.post-listing {
    padding: 30px 0px;
    background: #FFF;
}

.post-listing {
    padding: 30px 0px;
}

.post-listing h2 {
    font-family: 'PT Serif', serif;
    color: #ff7101;
    font-weight: 700;
    position: relative;
}

.post-listing .post-title {
    font-weight: 700;
}

.post-listing .post-title h3 {
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 0;
}

.post-listing .post-title h3 a {
    color: #000000;
    transition: 0.8s ease;
    font-size: 29px;
    font-weight: 800;
    text-transform: capitalize;
}

.post-listing .post-title h3 a:hover {
    color: #ff7101;
}

.post-listing article {
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #f5f6f7;
}

.post-listing .post-image {
    position: relative;
    overflow: hidden;
    width: 30%;
    float: left;
}

.post-listing .box {
    position: relative;
    overflow: hidden;
    width: 70%;
    float: left;
    padding: 15px 15px 0px 15px;
}

.post-listing .postmeta {
    margin-top: 8px;
    padding-top: 15px;
}

.post-listing .postmeta ul {
    padding-left: 0px;
}

.post-listing .postmeta ul li {
    display: inline;
    list-style-type: none;
    margin-right: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #959595;
    padding-right: 15px;
}

.post-listing .postmeta ul li a:hover {
    color: #ff7101;
}

.post-listing .postmeta ul li:after {
    content: "-";
    font-size: 25px;
    padding-left: 10px;
    color: #ff7101;
    position: absolute;
    top: -11px;
    right: 5px;
}

.post-listing .postmeta ul li:last-child:after {
    content: "";
}

.post-listing .postmeta ul li a {
    color: #959595;
    letter-spacing: 3px;
}

.post-listing .postmeta-categoty a {
    color: #ff7101;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.post-listing .postmeta-auther {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    display: block;
    overflow: hidden;
    float: left;
    top: -13px;
    left: -44px;
}

.post-listing .post-the-content {
    margin-top: 20px;

}

.post-listing .post-the-content button {
    border: 1px solid #ff7101;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 19px;
    color: #ff7101;
}

.post-listing .post-the-content button:hover {
    border-color: #ff7101;
    background: #ff7101;
    color: #FFF;
}

.post-listing .post-permalink ul.social-link {
    float: left;
}

.post-listing .post-permalink {
    display: block
}

.post-listing .post-permalink ul.social-link li {
    display: inline;
    border: none;
    text-align: center;
    padding: 11px 12px 11px 0px;
    font-size: 13px;
    margin-right: -4px;
    font-size: 16px;
}

.post-listing .post-permalink ul.social-link li a:hover {
    color: #3986bb;
}

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
.error-page .error-inner {
    text-align: center;
}

.error-page .error-inner h1 {
    font-size: 90px;
    font-weight: 800;
    text-align: center;
    color: #ff7101;
    margin: 0;
}

.error-page .error-inner h1 span {
    display: block;
    font-size: 30px;
    color: #353535;
    padding: 20px 0;
}

.error-page .error-inner p {
    text-align: center;
    padding: 50px 0;
}

.error-page .error-inner a {
    color: #ffffff;
    background: #ff7101;
    text-transform: capitalize;
}


/*--------------------------------------------------------------
##  Contact 7 Plugins defult css
--------------------------------------------------------------*/
iframe {
    width: 100%;
    border: 0;
}

.wpcf7 label { 
    display: block;
    margin-bottom: 15px;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 textarea,
.wpcf7 select {
    width: 100%;
    padding: 10px;    
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] { 
    background-color:#ff7101;
    border: 1px solid #ff7101;
    text-align:center;
    text-transform:uppercase;
    float: right;
    color: #fff;
}
.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="button"]:hover { 
    background: transparent;
    border: 1px solid #ff7101;
    color: #ff7101;
}

/*--------------------------------------------------------------
## My Acount Page
--------------------------------------------------------------*/
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover a {
    background: #fff;
    color: #ff7101;
    border: 1px solid #ff7101;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    padding: 12px 20.9px;
    background: #ff7101;
    color: #ffffff;
    display: block;
    border: 1px solid #ff7101;
    font-weight: bold;
    font-style: normal;
    border-right: 1px solid #fff;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    clear: both;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    float: left;
    list-style: none;
}
.woocommerce-info {
    border-top-color: #ff7101;
}
.woocommerce-info:before {
    color: #ff7101;
}
.static-contain {
    margin-bottom: 5px;
}
.hentry {
    margin-bottom: 0;
}
.post-detail-container {
    padding: 0 10px 20px;
    margin-bottom: 30px;
    border: 1px solid #ff7101;
}
.woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff7101;
}
.woocommerce-MyAccount-content p {
    margin: 0;
    margin-bottom: 5px;
}
.woocommerce-Message--info a.button {
    height: 40px;
    background: #ff7101;
    border: 1px solid #ff7101;
    border-radius: 0;
    padding: 0px 30px;
    line-height: 38px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-style: normal;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
    background: #ff7101;
    border-radius: 0;
    padding: 0px 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-style: normal;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.woocommerce-error a.button:hover,
.woocommerce-info a.button:hover,
.woocommerce-message a.button:hover,
.woocommerce-Message--info a.button:hover {
    background: #fff;
    color: #ff7101;
}
.woocommerce-message {
    border-top-color: #ff7101;
}
.woocommerce-message:before {
    color: #ff7101;
}
.woocommerce-MyAccount-content h3,
.woocommerce-Address-title h3 {
    margin: 0;
    margin-bottom: 5px;
}
.woocommerce-MyAccount-content label,
.woocommerce-EditAccountForm label {
    font-weight: bold;
}
.woocommerce-MyAccount-content fieldset,
.woocommerce-EditAccountForm fieldset {
    margin-bottom: 10px;
}
.woocommerce-MyAccount-content a:hover,
.woocommerce-MyAccount-content a:hover {
    color: #ff7101;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border-radius: 0;
    color: #fff;
    background-color: #ff7101;
    border: 1px solid #ff7101;
}
.woocommerce input.button {
    padding: 11px;
}
.compare.link-compare.button {
    border: 0;
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    padding: 11px;
    color: #fff;
}
.woocommerce table.shop_table {
    border-radius: 0;
}
.woocommerce .quantity .qty {
    width: auto;
    padding: 6px;
}
.reduced.items-count {
    margin-right: -4px;
}
.increase.items-count {
    margin-left: -4px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background-color: #ff7101;
    color: #ffffff;
    border: 2px solid #ff7101;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background: #fff;
    color: #ff7101;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
    padding: 10px;
    font-size: 15px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
    width: 150px;
    margin:0;
}

#ship-to-different-address .checkbox{
    padding: 0;
    margin: 0;
}

.cart_totals h2,
.cross-sells>h2,
.woocommerce-billing-fields h3,
.woocommerce-additional-fields h3,
.related>h2,
.upsells>h2,
.woocommerce-shipping-fields>h3,
.woocommerce-Address-title h3 {
    width: 100%;
    height: auto;
    line-height: 21px;
    text-align: left;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #fafafa;
    border-left: 4px solid #ff7101;
    margin-bottom: 12px;
    text-transform: uppercase;
    display: inline-block;
    color: #555555;
    font-size: 16px !important;
    font-weight: 500;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background-color: #ff7101;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    background-color: #fff;
    color: #ff7101;
}

.woocommerce .woocommerce-ordering select {
    padding: 6px;
    font-size: 13px;
}
.woocommerce ul.products li.product .onsale {
    margin: 0;
    background: #e74c3c;
    padding: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
    font-size: 1.2em;
    text-align: center;
}

.woocommerce ul.products li.product .price {
    font-size: 1em;
    text-align: center;
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
}
.woocommerce ul.products li.product .button {
    display: block;
    text-align: center;
}

.woocommerce a.added_to_cart {
    display: block;
    text-align: center;
    background: #e74c3c;
    color: #fff;
    padding: 6px;
}
.woocommerce ul.products li.product a img {
    margin: 0;
}

/**
 * Product Single Page Product Meta 
*/
.product_meta {
    padding-bottom: 10px;
    margin: 10px 0px;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
.product_meta span {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
.product_meta > span {
    display: block;
    margin-top: 10px;
}
.product_meta .sku_wrapper span {
    border-bottom: 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 2px;
}

.woocommerce span.onsale {
    top: 0;
    left: 0;
    background-color: #e74c3c;
}

.woocommerce div.product form.cart .variations td.label {
    color: #919191;
    font-size: 15px;
}
/*--------------------------------------------------------------
## Single Page Tab
--------------------------------------------------------------*/

.woocommerce-page div.product .woocommerce-tabs {
    margin-top: 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0px;
    padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border: 1px solid #ff7101;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none !important;
    padding: 3px 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: none !important;
    background: #ff7101 !important;
    border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs .panel#tab-description p {
    margin: 0;
    padding: 10px 0px;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
    padding: 10px 0px;
    margin: 0;
    font-size: 18px;
    line-height: 1;
    margin-top: 10px;
    text-align:left;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border: 1px solid #ff7101;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    bottom: -8px;
}
.woocommerce-error {
    border-top-color: #ff7101;
}
.woocommerce-error:before {
    color: #ff7101;
}

/*--------------------------------------------------------------
# WooCommerce defautl price_slider_amount
--------------------------------------------------------------*/

.price_slider_amount .price_label {
    font-size: 14px;
    font-weight: 600;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #ff7101;
    height: 12px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    height: 1.4em;
    background: #ff7101;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #e5e5e5;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 12px;
}

table.woocommerce-cart-form__contents > thead:first-child > tr:first-child > th {
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    min-height: 60px;
    text-transform: capitalize;
    padding: 16px 0px;
    text-align: center;
    border: none;
}

/*--------------------------------------------------------------
# WooCommerce defautl widget area
--------------------------------------------------------------*/
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0px;
    width: 80px;
    height: auto;
    box-shadow: none;
    margin-right: 10px;
}

.woocommerce ul.cart_list li .star-rating, 
.woocommerce ul.product_list_widget li .star-rating,
.woocommerce .widget_rating_filter ul li a {
    font-size: 12px;
    margin: 5px 0;
}

footer .woocommerce ul.cart_list li a, 
footer .woocommerce ul.product_list_widget li a {
    color: #fff;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
## WooCommerce Pagination
--------------------------------------------------------------*/
.woocommerce nav.woocommerce-pagination ul{
    border:none;
    background: none;
}
.woocommerce nav.woocommerce-pagination ul li .page-numbers{
    border:none;
    background: none;
    color: #ff7101;
}
.woocommerce nav.woocommerce-pagination ul li {
    border: 1px solid #ff7101;
    margin-right: 5px;
    padding: 2px;
}
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a{
    line-height:35px;
    padding:0;
    min-width:35px;
    text-align:center;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
    font-size:16px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ff7101;
    color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs .panel {
    padding: 10px;
}
.woocommerce ul.products li.product .price {
    color: #ff7101;
}
.woocommerce ul.products li.product .button {
    padding: 10px 0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
    text-transform: capitalize;
}
.woocommerce .quantity .qty {
    padding: 7px !important;
    border-radius: 0;
    color: #000;
}

.woocommerce div.product .product_title {
    font-size: 25px;
}

.woocommerce-Reviews #respond {
    padding:0 20px !important;
    width: 100% !important;
    float: none;
}

.woocommerce div.product form.cart .variations select {
    padding: 5px;
    font-size: 14px;
}
.woocommerce .quantity .qty,
.woocommerce div.product form.cart .button {
    padding: 10px;
}
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], 
.woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce button.button.alt:disabled[disabled]:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], 
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #ff7101;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    width: 150px;
    padding: 6px;
    border-radius: 0;
    font-size: 14px;
}
.woocommerce-checkout #payment ul.payment_methods li {
    list-style: none;
}
.woocommerce-error {
    margin: 0 !important;
}


.taxonomy-description{
    text-align: center;
}
.taxonomy-description p{
    color: #fff;
}
/*--------------------------------------------------------------
##  media query
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    
    .navbar-header {
        width: 100%;
    }

    .header-logo.site-branding {
        display: block;
        height: auto;
        vertical-align: middle;
        text-align: center;
        margin: 25px 0;
        padding: 0;
    }
    
    /**
     * Main Menu
    */
    .float-navbar {
        float: none;
    }
    
    .main-navigation ul {
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px 10px;
    }

    .main-navigation ul a {
        padding: 12px 17px 16px 17px;
    }

    .courseList .box {
            padding:15px 10px;
    }

    .courses span,
    .video .sectiontitle span,
    .introduction .box .description span,
    .fitness-park-blog-post-front .sectiontitle span,
    .front-gallery .gallery-title h2 span,
    .trainers span, .courses span ,
    .offer span {
        font-size: 20px;
        text-transform: uppercase;
        padding: 0 10px;
    }

    .offer-parallax-window {
        height: auto;
        background-size: cover;
    }

    .offer h2 {
        padding: 0;
        line-height: 1.2;
    }

    .video h2 {
        margin-top: 0;
    }

    .front-gallery .box {
        width: 33.33%;
    }

    .trainers .box .description {
        margin-top: auto;
    }

    .blog-post .post-image {
        position: inherit;
    }

    .navigation.post-navigation {
        width: 100%;
        margin: 0 !important;
    }
    .navigation {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .wpcf7 label {
        text-align: left;
    }
    
    .blog-post article {
        float: none;
        width: 100%;
        text-align: center;
    }
    .post-the-content.archive a {
        display: inline-block;
        float:  none;
    }


    /**
     * Slider
    */
    .slider-caption {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        text-align: center;
        padding: 0 60px;
        right: 0;
        width: 100%;
    }

    #main-slider .item h2 {
        font-size: 40px;
        line-height: initial;
        text-align: center;
    }

    #main-slider .item span {
        font-size: 25px;
    }

    #main-slider .item a, .offer a {
        font-size: 16px;
        padding: 12px 25px;
    }

}


/* TABLETS PORTRAIT */
@media only screen and (max-width: 768px) {
    
    button.menu-nav-toggle {
        padding: 10px 15px;
        position: absolute;
        right: 20px;
        top: 20%;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 0px;
        position: absolute;
        width: 100%;
        background: #FFF;
    }

    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        padding: 12px 15px 12px 15px;
    }

    .main-navigation ul a {
        text-align: left
    }

    .main-navigation ul ul li.menu-item-has-children > a:after{
        display: none;
    }

    .navbar {
        padding-top: 0px;
        position: relative;
    }

    button.menu-nav-toggle {
        display: block;
    }

    button.menu-nav-toggle:hover, button.menu-nav-toggle:focus {
        background: #dfdfdf;
    }

    span.sub-toggle {
        display: block;
    }

    .navbar {
        padding-top: 0px;
        position: relative;
    }

    button.menu-nav-toggle {
        display: block;
    }

    span.sub-toggle {
        display: block;
    }

    .main-navigation li {
        width: 100%;
    }

    .main-navigation .nav > ul > li {
        width: 100%;
        border-bottom: 1px solid #e8e4e4;
    }

    .main-navigation ul.nav > li {
        width: 100%;
        border-bottom: 1px solid #e8e4e4;
    }

    .main-navigation ul ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        border-top: 1px solid #e8e4e4;
        bottom: 0px;
    }

    .main-navigation ul li > ul {
        left: auto;
    }

    .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: auto;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
        position: absolute;
        background: #FFF;
        width: 100%;
        top: 90px;
    }

    .main-navigation ul ul a {
        font-size: 16px;
        width: 100%;
        padding: 0px 15px 0px 30px;
    }

    .fa-minus:before {
        content: "\f068";
    }

    .fa-minus-circle:before {
        content: "\f056";
    }

    .fa-minus-square:before {
        content: "\f146";
    }

    .introduction .box {
        float: none;
        text-align: center;
    }
    
    .introduction .box .description, 
    .introduction .box figure {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }

    .introduction .box .description p {
        max-width: initial;
        margin: 30px 0px;
    }

    .offer h2 {
        padding: 0;
    }

    .offer h2 {
        margin-bottom: 20px;
    }
 
    .courseList:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .fitness-park-blog-post-front img{
        width: 100%;
    }

    .front-gallery .box {
        width: 50%;
    }
    
    .trainers .box figure {
        width: 100%;
    }

    .trainers .box .description {
        width: 100%;
        text-align: center;
    }

    .trainers span.designation {
        font-size: initial;
        display: block;
        text-align: center;
        color: #ff7101;
    }

    .widget-area {
        padding: 0 25px;
    }
    
    footer {
        padding: 30px 0 0 0;
    }

    .bottom_footer {
        margin: 0;
        padding: 25px 0;
    }

    .footer_logo {
        margin-bottom: 35px;
    }

    footer ul.footer-menu {
        margin: 0;
    }

    .bottom_footer ul.social-icon {
        text-align: center;
        margin-bottom: 20px;
    }

    .copyright {
        padding: 0;
    }

    .bottom_footer .join_now {
        text-align: center;
        padding-top: 20px;
    }

}

@media only screen and (max-width: 600px) {
    .owl-carousel .owl-item img {
        height: 280px;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
    
    .owl-carousel .owl-item img {
        height: auto;
    }

    .owl-carousel .owl-item img {
        height: 250px;
    }

    #main-slider .item span {
        margin-bottom: 20px;
    }

    #main-slider .item p {
        display: none;
    }

    h2 {
        font-size: 35px;
    }

    .front-gallery .box {
        width: 100%;
    }

    .postmeta ul li {
        padding-right: 10px;
    }
    .postmeta ul li:after{
        display: none;
    }

}